.post {
  max-width: 868px;
  padding: 1.6rem 3.2rem;
  margin: 0 auto;

  &__header {
    position: relative;
    padding-top: 50%;
    border-radius: 8px;
    overflow: hidden;
  }

    &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.8;
  }
  p + p {
    margin-top: 1.5em;
  }

  p > a {
    color: #0f83fd;

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    font-size: 0.97em;
    margin: 1.4rem 0;
    border-left: solid 3px #9dacb7;
    padding: 2px 0 2px 0.7em;
    color: #505c64;
    p {
      margin: 1rem 0;
    }
    & > :first-child {
      margin-top: 0;
    }
  
    & > :last-child {
      margin-bottom: 0;
    }
  }

  code {
    padding: 0.2em 0.4em;
    background: rgba(33, 90, 160, 0.07);
    font-size: 0.85em;
    border-radius: 4px;
    vertical-align: 0.08em;
  }

  table {
    margin: 2rem auto;
    width: auto;
    border-collapse: collapse;
    font-size: 1.4rem;
    line-height: 1.5;
    word-break: normal;
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  th,
  td {
    padding: 0.8rem;
    border: solid 1px #cfdce6;
    background: #fff;
  }
  th {
    font-weight: 700;
    background: #edf2f7;
  }

  pre {
    margin: 1.6rem 0;
    background: #1a2638;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 14, 30, 0.15);
    word-break: normal;
    word-wrap: normal;
    display: flex;
    &:after {
      content: '';
      width: 8px;
      flex-shrink: 0;
    }
    code {
      margin: 0;
      padding: 0;
      background: transparent;
      font-size: 1.4rem;
      color: #fff;
    }
    & > code {
      display: block;
      padding: 1.6rem;
    }
  }
  .code-block-container {
    position: relative;
    margin: 1.3rem 0;
    pre {
      margin: 0;
    }
  }
  .code-block-filename {
    display: table;
    max-width: 100%;
    background: #323e52;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.2rem;
    line-height: 1.3;
    border-radius: 8px 8px 0 0;
    padding: 6px 12px 20px;
    margin-bottom: -16px;
  }
  .code-block-filename-container + pre {
    border-top-left-radius: 0;
  }

  ol,
  ul {
    font-size: 1.5rem;
    margin: 2.2rem 0;
    line-height: 1.8;
  }
  ol,
  ul {
    margin: 0;
  }
}

.post__tags {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  margin: 1.6rem 0;

  + .post__content {
    #title {
      margin-top: 3.2rem;
    }
  }
}
.post__tag {
  font-size: 1.3rem;
  color: #fff;
  background-color: #35475c;
  padding: 0.6rem 1.2rem;
  display: inline-block;
  border-radius: 6px;
}

.content {
  display: flex;
}

.content img {
  margin-right: 10px;
  display: block;
}

.content h5,
.content p {margin: 0;}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    text-align: center;
}

.btn-hover {
    width: 80px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}
