 .video {
	 padding-bottom: 45%;
	 border: 0.6em outset #F4F6F6;
	 box-shadow: 0 0 0 0.05em #fff;
	 position: relative;
	 margin: 0 auto 1em;
}
 .video a, .video iframe {
	 display: block;
	 width: 100%;
	 height: 100%;
	 position: absolute;
}
 .video iframe {
	 border: 0;
}
 .video a::before {
	 box-sizing: border-box;
	 display: block;
	 height: 1em;
	 width: 1em;
	 background-color: rgba(0, 0, 0, .6);
	 border: 0.1em solid #fff;
	 border-radius: 50%;
	 box-shadow: 0 0 0.15em rgba(0, 0, 0, .6);
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 z-index: 1;
	 font-size: 4em;
	 margin: -0.5em 0 0 -0.5em;
	 transition: background-color 0.2s;
	 content: "";
}
 .video a::after {
	 display: block;
	 width: 0;
	 height: 0;
	 border: 0 solid transparent;
	 border-width: 0.2em 0 0.2em 0.3em;
	 border-left-color: #fff;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 z-index: 1;
	 font-size: 3em;
	 margin: -0.2em 0 0 -0.1em;
	 content: "";
}
 .video a:hover::before, .video a:focus::before {
	 background-color: #3575b6;
}
 .video img {
	 object-fit: contain;
	 height: 100%;
	 width: 100%;
}
