{{- define "main" }}
<div class="search-container">
  <form class="search">
    <label class="search__label">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
    </label>
    <input class="search__input" id="searchInput" placeholder="Search contents...">
  </form>

  <div class="results" id="searchResults"></div>
</div>
<br><br><br>
<center><!-- JuicyAds v3.0 -->
  <script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
  <ins id="1031076" data-width="160" data-height="612"></ins>
  <script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':1031076});</script>
  <!--JuicyAds END--></center>
{{ end }}
