{{ define "main" }}
<div class="post">
    <strong><h2><em>{{ .Title | safeHTML | truncate 40 }}</em></h2></strong>
	<br>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<div class="content">
    {{ $image := .Resources.GetMatch .Params.image }}
<img id="myImg" src="{{ $image.RelPermalink }}" alt="{{ .Title | truncate 20 }}" style="width:100%;max-width:250px">
  <div class="text">
<p><b>Published</b>: <time datetime="{{ .Date }}">{{ .Date.Format "2006/01/02" }}</time></p>
<hr>
<p><b>Maker</b>:
{{ range .Params.maker }}
<a href='{{ "/maker/" | relLangURL }}{{ . | urlize }}'>{{ . | humanize }}</a>,
{{ end }}
<hr>
<p><b>Actress</b>:
{{ range .Params.actress }}
<a href='{{ "/actress/" | relLangURL }}{{ . | urlize }}'>{{ . | humanize }}</a>,
{{ end }}
<hr>

</div></div>
<p><b>Tags</b>:
{{ range .Params.tags }}
<a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ . | humanize }}</a>,
{{ end }}
<hr>
<br>
<center><script src="https://static.adxadserv.com/js/adb.js" type="text/javascript" data-adxad-place="64cabba861d6e214d9459af2" async></script><div id="64cabba861d6e214d9459af2" data-width="300" data-height="100" data-output="html"></div></center>
<!-- JuicyAds PopUnders v3 Start -->
<script type="text/javascript" src="https://js.juicyads.com/jp.php?c=34d43303x2a4u4q2x26413a464&u=http%3A%2F%2Fwww.juicyads.rocks"></script>
<!-- JuicyAds PopUnders v3 End -->
  
<br>
  <section class="post__content">
    <div>
      <article>
	      <h5> {{ .Title }} </h5>
          {{ .Content }}
      </article>
    </div>
  </section>
<br><br><hr><br><br>

<!-- JuicyAds v3.0 -->
<center><script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
<ins id="1027698" data-width="316" data-height="202"></ins>
<script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':1027698});</script></center>
<!--JuicyAds END-->
	
<br>
<center><embed src="https://j91.asia/ads/adsterra" style="width:350px; height: 80px;"></center>
	
{{ $related := .Site.RegularPages.Related . | first 8 }}
{{ with $related }}
<h3>See Also</h3>

  <section class="article-list">
 {{ range . }}
      {{ .Render "summary"}}
    {{ end }}
  </section>
{{ end }}

<center><embed src="https://j91.asia/ads/exocl" style="width:320px; height: 200px;"></center>	 
</div>
<HR>
{{ end }}
