<footer class="footer">

  
  <span>&copy; {{ now.Year }} <br><a href="{{ "" | absLangURL }}"><b>Copyright © {{ site.Title }}</b></a></span>
  <br>
  <p>

    <strong>2257 Compliance Statement:</strong>  
    This website is in compliance with <a href="https://www.law.cornell.edu/uscode/text/18/2257" target="_blank">18 U.S.C. § 2257</a>.  
    All models appearing on this site were at least 18 years of age at the time of recording.  
    For more information, click <a href="/2257-compliance.html">here</a>.

</p>



<p>

    <strong>DMCA Policy:</strong>  
    If you believe that any content on this site infringes your copyright,  
    please submit a DMCA takedown request by <a href="mailto:javsubs91@yandex.ru">contacting us</a>  
    or clicking <a href="/dmca-policy.html">here</a> for more details.

</p>


<br><br>
    
</footer>
