<meta charset='utf-8'>
<meta name="google-site-verification" content="isSWpwKWT1VbV7fPGxSRVXsKM7tYwUtDBi1S84jKlqs" />
<meta name="juicyads-site-verification" content="8dfa463f90d0a124081985a0e09b5df5">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="icon" href="https://j91.asia/favicon.ico">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" type="text/css" />
<link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css'>

<!-- Add other content here -->

  {{ if .HasShortcode "github_button" }}
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  {{end}}

{{ template "_internal/google_analytics.html" . }}

<title>{{ if not .IsHome }}{{ if .Title }}{{ .Title }} - {{ end }}{{ end }}{{ .Site.Title }}</title>

{{ $sass := resources.Get "scss/style.scss" }}
{{ $style := $sass | resources.ToCSS | minify | resources.Fingerprint "sha256" }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{- if (eq .Layout "search") }}
  {{ $ikljs := resources.Get "js/ikl.js" }}
  {{ $fusejs := resources.Get "js/fuse.basic.min.js" }}
  {{ $markjs := resources.Get "js/mark.min.js" }}
  {{ $search := resources.Get "js/search.js" }}
  {{ $fetch := resources.Get "js/iecompat/fetch.min.js" }}
  {{ $promises := resources.Get "js/iecompat/promises.min.js" }}
  {{ $remove := resources.Get "js/iecompat/remove.min.js" }}
  {{ $template := resources.Get "js/iecompat/template.min.js" }}
  {{ $js := slice $ikljs $fusejs $search $markjs $fetch $promises $remove $template | resources.Concat "js/bundle.js" | resources.Fingerprint "sha512" }}
  <script defer type="text/javascript" src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
{{- end }}
